<h1>Todo Items</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Item</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 70%">Description</th>
            <th style="width: 30%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{item.description}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{item.itemId}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteItem(item.itemId)" class="btn btn-sm btn-danger btn-delete-item mr-1">
                    <span>Delete</span>
                </button>
                <button (click)="markComplete(item.itemId)" [disabled]="item.isCompleted" class="btn btn-sm btn-success">
                    <span>Mark as complete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!items">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>